body {
    margin-left: 10px;
}

.form-row {
    margin-top: 20px;
}

.structure {
    background-color: #d3dce3;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
}